body {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

#rocket {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#puzzle-section {
    margin-top: 100px;
}

input[type="text"] {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Add these styles for the slideshow */
.slideshow {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.slideshow-image {
    display: none;
    width: 100%;
    height: auto;
}
